
.NavBar a, .NavBar button {
	margin: 0 5px;
  cursor: pointer;
  font-size: 15px;
  color: white;
} 

 .NavBar {
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  
} 

.home {
  border: 4px solid rgb(139, 90, 0);
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    color: linear-gradient(#1e92af, #475591);

    width: 600px;
    display: center;
   margin: 9px auto; 
   
}

.questions {
  text-align: left;
  font-size: 17px;
  border-style: solid;
  margin: 10px;
  width: 55%;
 color: white;
 background-color: whitesmoke;
 display: inline-block;
 border: 2px gray;
    border-radius: 5px;
}

.img{
  /* max-height: 150px; */
max-width: 200px;
width: 120px;
/* height: 120px; */
}

  .questions-display {
    text-align: center;
    font-size: 13px;
  }

  #root {
    /* background: linear-gradient(#3d4356, #475591); */
    background-image: url("https://www.wallpaperflare.com/static/135/133/308/los-angeles-california-evening-playground-wallpaper.jpg");
    background-size: cover;
    max-height: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    min-height: 600px;

  }

 p {
   font-size: 20px;
 }

  html {
  
    box-sizing: border-box;
    font-size: 76.5%;
  }
  
.profile {
    color: black;
      text-align: left;
      font-size: 20px;
     
    
  }

 h4 {
    display: inline-block;
    text-align: center;
  }

  h3 {
   color: yellow;
  }

  .answers1 {
    font-size: 20px;
    background: yellow;
  }
  .all-questions {
    color: whitesmoke;
  }

  .question8 {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    float: right;
}

button, html [type=button] {
  background-color: gray;
  -webkit-appearance: button;
}


.profile a {
    color: white;
    text-decoration: none;
    background-color: blue;
    font-size: 20px;
}

.questions2 {
  text-align: left;
}

.home a {
  font-size: 20px;
}

Footer{
display: block;
  width: 100%;
  height: 50px;
  background-color: black;
  color: black;
}