
.NavBar a, .NavBar button {
	margin: 0 5px;
  cursor: pointer;
  font-size: 15px;
  color: white;
} 

 .NavBar {
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  color: black;
  background-color: brown;
} 

.home {
  border: 4px solid rgb(139, 90, 0);
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    color: white;

    width: 600px;
    display: center;
   margin: 9px auto; 
   
}

.questions {
  text-align: left;
  font-size: 20px;
  border-style: solid;
  margin: 35px;
  width: 55%;
 color:white;
 background-color: white;
}

.img{
  max-height: 150px;
max-width: 200px;
width: 120px;
height: 120px;
}
.profile-css {
  color: black; 
}

  .questions-display {
    text-align: center;
    font-size: 25px;
  }

  #root {
    background-image: url("http://kb4images.com/images/basketball-wallpaper-hd/36888046-basketball-wallpaper-hd.jpg");
    background-attachment: fixed;
    width: 100%;

  }

  .ui-image {
    width: 150px;
    height: 150px;
  }
  
  
  /* .Questions a {

  }
   */
